<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
Ratings Explained</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ratings</h4>
      </div>
      <div class="modal-body">
        <ol>
          <li>I have never seen, heard of or used this. I am unfamiliar to the term or concept. I would be interested in finding out more about it.</li>
          <li>I have heard something about it but I might not remember exactly what it is or does. I might know in what category it falls under, and a brief description of where it is used or what it is, but not much more than that.</li>
          <li>I have heard of this subject. I have done some preliminary research and know what it is or does. I have not yet done any tutorials or real live work with the subject, but just some reading (docs, READMEs, faqs, information, etc.).</li>
          <li>I have now gone through a tutorial or official practiced learning/teaching on the subject (i.e. lessons/tutorials/talks from Youtube, blogs, official sites). There is a possibility that this did not involve live work (when applicable), however I can tell you the base concepts of what it is used for and/or what it does.</li>
          <li>I have now 100% done some sort of live work with this subject (when applicable). I have a solid base understanding of what the subject is or does, and I have to have the ability to discuss it with a bit of confidence.</li>
          <li>I am starting to gain the ability to provide insight on the subject to others who maybe asking about it. My ability to teach about the subject has grown stronger, and I am starting to use this subject with confidence.</li>
          <li>I have started going much deeper into the learnings of this subject. I am learning some history and philosophy surrounding best practices, how to use the subject efficiently and effectively, and what technology the subject is using (when applicable).</li>
          <li>I am now look that as a knowledgeable and competent user of the subject. Following best practices and principles surrounding the subject. I can explain clearly and teach confidently some of the more detailed workings of the subject.</li>
          <li>I am very comfortable in this subject. I have potentially made multiple implementation contributions (where applicable), or have enough knowledge to write a small book or give a professional talk on the subject.</li>
          <li>I am a core contributor/maintainer or helped in the creation of this subject. I have complete domain knowledge in all aspects of the subject. I am never stumped by questions on the subject</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
